.Head{
    color: white;
    background-color: rgb(255, 134, 0);
}

.Image{
    width: 15%;
}

.Image img{
    width: 100%;
}

.Intro{
    color: white;
    background-color: rgb(255, 134, 0);
}

.Heading{
    width: 60%;
    color: #a52a2a;
    display: flex;
}

.End{
    background-color: orangered;
}

.Logo{
    border: 1px  solid;
    border-color: rgb(133, 8, 8);
  border-radius: 25px;
}

.Right a{
    background-color: #a52a2a;
    color: white;
    text-decoration: none;
    }

    @media (Max-Width:900px){
        .Icons{
            flex-direction: column;
            gap: 20px;
        }

        .Input{
            flex-direction: column;
            padding: 20px;
        }

        iframe{
            width: 80%;
        }
    }

    @media(Max-Width: 630px) {
        .Head{
            flex-direction: column;
        }

        iframe{
            height: 200px;
        }
    }

    @media(Max-Width: 1000px) {
        iframe{
            height: 200px;
        }
    }